div.DraftEditor-root {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  height: 40px;
  width: 650px;
  overflow-y: auto;
  justify-content: center;
  line-height: 40px;
  vertical-align: middle;
}
div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}
