div.DraftEditor-root {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
    overflow-y: auto;
    justify-content: center;
    vertical-align: middle;
    padding: 1px 0px;
    margin: 5px 0px;
}
div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
    height: 100%;
}
